c5_pin_model_dump.txt

DE1_SOC_golden_top_assignment_defaults.qdf
DE1_SOC_golden_top.asm.rpt
DE1_SOC_golden_top.done
DE1_SOC_golden_top.fit.rpt
DE1_SOC_golden_top.fit.smsg
DE1_SOC_golden_top.fit.summary
DE1_SOC_golden_top.flow.rpt
DE1_SOC_golden_top.jdi
DE1_SOC_golden_top.map.rpt
DE1_SOC_golden_top.map.smsg
DE1_SOC_golden_top.map.summary
DE1_SOC_golden_top.pin
DE1_SOC_golden_top.sof
DE1_SOC_golden_top.sld
DE1_SOC_golden_top.sta.summary
DE1_SOC_golden_top.sta.rpt

db/

incremental_db/

.qsys_edit/
